
singularity {

  enabled = false
  commands = "--nv"

}

profiles {

    standard {

        process.executor = 'local'

    }

    cluster {

        process.executor = 'pbs'
        process.clusterOptions = "-V -l ngpu=1"
    }

}

params {

    id           = "achilles_single"
    dirs         = ["tests/test_data/dir1", "tests/test_data/dir2"]
    labels       = ["human", "zika"]
    outdir       = "achilles_run_1"

    window_max   = 5
    window_size  = 200
    window_step  = 0.1
    window_scan  = 50
    validation   = 0.3

    chunk_size   = 5000

    nb_rb        = 1
    nb_lstm      = 1
    blstm        = true
    dropout      = 0.2

    epochs       = 3
    batch_size   = 1
    threads      = 2

    eval_dirs    = ["tests/test_data/dir1", "tests/test_data/dir2"]
    eval_max     = 5

    pred_dirs    = ["tests/test_data/dir1", "tests/test_data/dir2"]
    pred_batch   = 10
    pred_slices  = [1, 5, 10, 15, 20]

}