
singularity {

  enabled = false
  commands = "--nv"

}

profiles {

    standard {

        process.executor = 'local'

    }

    cluster {

        process.executor = 'pbs'
        process.clusterOptions = "-V -l ngpu=1"
    }

}

params {

    id           = "test_1"
    uri          = "mongodb://esteinig:pongo@206.189.91.28:27017/poremongo"
    tags         = '[["Human", "R9.4"], ["TB"]]'
    labels       = ["Human", "TB"]
    
    window_max   = 10000
    window_size  = 200
    window_step  = 0.1
    window_read  = 50

    sample       = 25000
    proportions  = "None"

    validation   = 0.3
    chunk_size   = 10000

    nb_rb        = 1
    nb_lstm      = 1
    blstm        = true

    dropout        = 0.2
    activation     = "softmax"
    optimizer      = "adam"
    loss_function  = "binary_crossentropy"

    epochs       = 10
    batch_size   = 100
    threads      = 2

    eval_tags    = [["Human", "R9.4"], ["TB"]]
    eval_max     = 10000

    pred_batch   = 10
    pred_slices  = [1, 5, 10, 15, 20]

}