
singularity {

  enabled = false
  commands = "--nv"

}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'pbs'
        process.clusterOptions = "-V -l ngpu=1"
    }

}

params {

    dir          = "tests/test_data/nf-achilles-hyper/training"
    eval_dir     = "tests/test_data/nf-achilles-hyper/evaluation"
    pred_dir     = "tests/test_data/nf-achilles-hyper/prediction"
    
    classes      = ["host", "pathogen"]
    labels       = ["human", "zika"]
    outdir       = "test_nf_achilles_hyper"

    window_max   = [2, 3]
    window_size  = [200, 400]
    window_step  = [0.1]
    window_scan  = [50]

    validation   = 0.3

    chunk_size   = 5000

    nb_rb        = [1]
    nb_lstm      = [1]
    blstm        = [false]
    dropout      = 0.2

    epochs       = 3
    batch_size   = 1
    threads      = 2

    eval_max     = 5

    pred_batch   = 10
    pred_slices  = [1, 5, 10, 15, 20]

}